<section class="chat">
  <div id="log" class=""></div>
  <div class="inputContainer">
    <label for="data" class="labelMessage">Message:</label>
    <input
      id="inputMessage"
      class="inputMessage"
      type="text"
      name="data"
      class=""
    />
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>