<main>
    <div class="loginDiv">
      <h1 class="loginTitle">Login</h1>
      <form class="loginForm" id="loginForm">
        <label>Correo electrónico</label>
        <input name="email" placeholder="email@gmail.com" />
        <label>Contraseña</label>
        <input type="password" name="password" placeholder="********" />
        <a class="recoverButton" href="/recover">¿Olvidaste tu contraseña?
          Recuperala aqui.</a>
        <button class="loginButton">Login</button>
        <a href="/api/session/github">Login with Github</a>
      </form>
      <a href="/register" style="margin: 20px 0; color: #ffff;">Registrate aqui</a>
    </div>
</main>

<script src="/js/login.js"></script>