<main>
  <section class="recoverSection">
    <div class="recoverDiv">
      <span class="logo">G</span>
      <h1 class="recoverTitle">Recover</h1>
      <form class="recoverForm" id="recoverForm">
        <h2>Ingresa tu correo electronico para poder enviarte un correo de
          recuperacion de contraseña</h2>
        <input type="email" name="email" placeholder="email@gmail.com" />
        <button class="recoverButton">Enviar correo de restauracion</button>
      </form>
      <a href="/login" style="color: #0000; margin-top: 20px;">¿Ya tienes una
        cuenta? Ir al login.</a>
    </div>
  </section>
</main>

<script src="/js/recover.js"></script>