<main>
  <section class="recoverSection">
    <div class="recoverDiv">
      <span class="logo">G</span>
      <h1 class="recoverPasswordTitle">Recover password</h1>
      <form id="recoverPasswordForm">
        <h2>Ingresa tu correo electronico para poder enviarte un correo de
          recuperacion de contraseña</h2>
        <input type="password" name="password" placeholder="*********" />
        <button class="recoverButton">Cambiar contraseña</button>
      </form>
      <a href="/login " style="color: #0000; margin-top: 20px;">¿Ya tienes una
        cuenta? Ir al login.</a>
    </div>
  </section>
</main>

<script src="/js/recoverPassword.js"></script>