body{
    background-color: rgb(187, 187, 187);
    margin: 1rem 5rem;
}

.navbar{
    background-color: rgb(41, 41, 41);
    color: aliceblue;
}

.element{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-color: black;
    border: 4px;
}