    <nav>
        <ul>
          <li class="linkContainer">
            <a class="navLink" href="/">Inicio</a>
          </li>
          <li class="linkContainer">
            <a class="navLink" href="/products">Productos</a>
          </li>
          <li class="linkContainer">
            <a class="navLink" href="/chat">Chat</a>
          </li>
            {{#if isLogin}}
            <li class="linkContainer">
              <a class="navLink" href="/admin">Admin</a>
            </li>
            {{/if}}
        </ul>
        <ul>
          <li class="cartLinkContainer">
            <a class="cartLink" href="/cart">Carrito</a>
          </li>
          {{#if isLogin}} 
          <li class="cartLinkContainer">
            <a class="cartLink" href="/profile">Perfil</a>
          </li>
            {{else}}
              <li class="linkContainer">
                <a class="navLink" href="/register">Registrar</a>
              </li>
              <li class="linkContainer">
                <a class="navLink" href="/login">Login</a>
              </li>
          {{/if}}
          {{#if isLogin}}
            <li class="linkContainer">
              <button style="background: none; color: #ffff; border:none; cursor: pointer; font-weight:600;" onclick={logout()}><a href="/">Logout</a><button/>
            </li>
          {{/if}}
        </ul>
      </nav>